html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: 'Noto Sans Mono';
  font-weight: 400;
  font-size: 16px;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background iframe {
  margin: 0px;
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header h1 {
  font-size: 4rem;
}

header h2 {
  font-size: 2rem;
}

section {
  color: #c1ffff;
  justify-items: center;
  width: 100%;
}

.section-title {
  font-size: x-large;
  text-align: center;
}

.card-gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

p {
  text-align: justify;
  font-size: 1rem;
}

br {
  margin-bottom: 0.5rem;
}

#home-container {
  position: absolute;
  width: 100%;
  top: 0px;
  padding: 0 8vw;
}

#featured-project-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

@media screen and (max-width: 600px) {
  #home-container {
    padding: 0 4vw;
  }
}
